.App2 {
  text-align: center;
}

.btn {
  min-width: 70px;
  min-height: 40px;
  color: red;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}

.header {
  background-color: rgba(13, 13, 13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.link {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.active-link {
  font-size: 12px;
  padding: 0 10px;
  color: rgb(0, 255, 34);
}
